.listing-wrapper {
      display: grid;
grid-template-columns: 1fr 1fr 1fr;
width: 75%;
margin: 0 auto;
padding-top: 2rem;
row-gap: 2rem;


li {
     max-width: 385px;
    margin-top: 2rem; 
    align-items: center;
padding: 1rem;
border: 1px solid #D9D9D9;
border-radius: 21px;
height: 100%;
}
}

.search-container {
      width: 75%;
margin: 0 auto;
padding: 2rem 2rem 0 0;

input {
      padding: 0.75rem;
      border-radius: 21px;
      width: 400px;
      border: 1px solid black;
}
}